<a href="https://colab.research.google.com/github/namozhdehi/DataScience/blob/main/19%20SQL%20in%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import sqlite3

# Connect to SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('country_club.db')
cursor = conn.cursor()

# Create tables and import data
# For simplicity, assuming CSV format is used for export
import pandas as pd

# Load CSV data into Pandas DataFrames
bookings = pd.read_csv('Bookings.csv')
members = pd.read_csv('Members.csv')
facilities = pd.read_csv('Facilities.csv')

# Write data to SQLite database
bookings.to_sql('Bookings', conn, if_exists='replace', index=False)
members.to_sql('Members', conn, if_exists='replace', index=False)
facilities.to_sql('Facilities', conn, if_exists='replace', index=False)

9

In [14]:
import sqlite3

# Connect to the SQLite database
conn = sqlite3.connect('country_club.db')

# Create a cursor object
cursor = conn.cursor()

In [15]:
import pandas as pd

# Q10: Produce a list of facilities with a total revenue less than 1000.

query = """
SELECT f.name AS facility,
       SUM(CASE
               WHEN b.memid = 0 THEN b.slots * f.guestcost
               ELSE b.slots * f.membercost
           END) AS total_revenue
FROM Bookings b
JOIN Facilities f ON b.facid = f.facid
GROUP BY f.name
HAVING total_revenue < 1000
ORDER BY total_revenue;
"""

# Execute the query and load the results into a DataFrame
result = pd.read_sql_query(query, conn)

# Display the results
print(result)

          facility  total_revenue
0  Badminton Court            0.0
1       Pool Table            0.0
2    Snooker Table            0.0
3     Table Tennis            0.0