<a href="https://colab.research.google.com/github/namozhdehi/DataScience/blob/main/Introduction%20to%20Python%20I.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hello World')
print("Hello World")

Hello World
Hello World

In [2]:
age = 20
price = 19.95
first_name = "Nahid"
in_online = False
print(age)

20

In [3]:
name = input("What is your name? ")
print("Hello " + str(name))

What is your name? Nahid
Hello Nahid

In [4]:
# Converting: int() , float() , str() , bool()
birth_year = input("Enter your birth year: ")
age = 2024 - int(birth_year)
print(age)

Enter your birth year: 1990
34

In [5]:
first = input("First: ")
second = input("Second: ")
sum = first + second
print(sum)

First: 1
Second: 5
15

In [6]:
first = input("First: ")
second = input("Second: ")
sum = int(first) + int(second)
print(sum)

First: 1
Second: 5
6

In [8]:
first = input("First: ")
second = input("Second: ")
sum = float(first) + float(second)
# print("Sum: " + sum) -- Error str + float
print("Sum: " + str(sum))

First: 1
Second: 5
Sum: 6.0

In [9]:
first = float(input("First: "))
second = float(input("Second: "))
sum = first + second
print("Sum: " + str(sum))

First: 1
Second: 5
Sum: 6.0

In [12]:
course = 'Python for beginners'
print(course.upper())
print(course)

PYTHON FOR BEGINNERS
Python for beginners

In [15]:
course = 'Python for beginners'
print(course.find('y')) # index of accurance of 'y' in the string
print(course.find('Y')) # Case sensitive

1
-1

In [21]:
course = 'Python for beginners'
print(course.find('for')) # return the index of the word 'for'
print('for' in course)

7
True

In [20]:
course = 'Python for beginners'
print(course.replace('for', '4'))
print(course.replace('x', '4')) # no changes since we don't have x in our string

Python 4 beginners
Python for beginners

In [24]:
print(10 / 3) # return floating
print(10 // 3) # return int
print(10 % 3 ) # remainder
print(10 ** 3 ) # 10 to the power of 3

3.3333333333333335
3
1
1000

In [27]:
x = 10
x = x + 3 # or x += 3 called augmented assignment operator
print(x)

13

In [29]:
x = 10 + 3 * 2
print(x)

16

In [35]:
x = 3 >= 2
x = 3 <= 2
x = 3 != 2
x = 3 == 2
print(x)

False

In [37]:
price = 25
print(price > 10 and price < 30) # and , or
print(price > 10)
print(not price > 10)

True
True
False

In [42]:
temperature = 25
if temperature > 30:
  print("It's a hot day")
  print("Drink plenty of water")
elif temperature > 20:  # between (20, 30]
  print("It's a nice day")
elif temperature > 10: # (10, 20]
  print("It's chili")
else:
  print("It's cold")

print("Done")

It's a nice day
Done

In [46]:
weight = float(input("Weight: "))
unit = input("(K)g or (L)bs:")
if unit.upper() == "K":
  converted = weight / 0.45
  print("Weight in Lbs: " + str(converted))
else:
  converted = weight * 0.45
  print("Weight in Kgs: " + str(converted))

Weight: 65
(K)g or (L)bs:k
Weight in Lbs: 144.44444444444443

In [49]:
i = 1
while i <= 1_0: # means 10 eg: 1_000 means 1000
  print(i)
  i += 1

1
2
3
4
5
6
7
8
9
10

In [51]:
i = 1
while i <= 3:
  print(i * '*')
  i += 1

*
**
***

In [53]:
names = ["Jon", "Bob", "Mary"]
print(names[0])
print(names[-1]) # from the end of list

Jon
Mary

In [57]:
names[0] = "John"
print(names)
print(names[0:2]) # doesn't consider 2

['John', 'Bob', 'Mary']
['John', 'Bob']

# **List**

In [64]:
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print(numbers)

numbers.insert(0, -5)
print(numbers)

numbers.remove(3)
print(numbers)

numbers.clear()
print(numbers)

[1, 2, 3, 4, 5, 6]
[-5, 1, 2, 3, 4, 5, 6]
[-5, 1, 2, 4, 5, 6]
[]

In [66]:
numbers = [1, 2, 3, 4, 5]
print(1 in numbers)

print(len(numbers))

True
5

In [68]:
# for
numbers = [1, 2, 3]
for item in numbers:
  print(item)

# while
numbers = [1, 2, 3]
i = 0
while i < len(numbers):
  print(numbers[i])
  i += 1

1
2
3

In [5]:
numbers = range(3)
print(numbers)

range(0, 3)

In [6]:
numbers = range(3)
for number in numbers:
  print(number)

0
1
2

In [9]:
numbers = range(5, 10)
for number in numbers:
  print(number)

5
6
7
8
9

In [10]:
numbers = range(5, 10, 2)
for number in numbers:
  print(number)

5
7
9

In [11]:
for number in range(5):
  print(number)

0
1
2
3
4

# **Tuple**

In [12]:
numbers = (1, 2, 3)
numbers[0] = 5

TypeError: 'tuple' object does not support item assignment

In [15]:
numbers = (1, 2, 3, 3)
numbers.count(3) # number of occurrences of value

2

In [16]:
numbers = (1, 2, 3, 3)
numbers.index(2) # returns the index of the first occurrences of given element

1

# **Function**

In [17]:
def f():
  pass # skip this line
f()

In [18]:
f # returns memory address

In [19]:
dir() # list of functions (f is added)

['In',
 'Out',
 '_',
 '_13',
 '_14',
 '_15',
 '_16',
 '_18',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'f',
 'get_ipython',
 'i',
 'number',
 'numbers',
 'quit']

In [20]:
def ping(): # 0 arguments
  return "Ping!"
ping()

'Ping!'

In [21]:
def ping(): # 0 arguments
  return "Ping!"
x = ping()
print(x)

Ping!

In [22]:
dir() # ping and x are added

['In',
 'Out',
 '_',
 '_13',
 '_14',
 '_15',
 '_16',
 '_18',
 '_19',
 '_20',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i13',
 '_i14',
 '_i15',
 '_i16',
 '_i17',
 '_i18',
 '_i19',
 '_i2',
 '_i20',
 '_i21',
 '_i22',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'f',
 'get_ipython',
 'i',
 'number',
 'numbers',
 'ping',
 'quit',
 'x']

In [25]:
#V = 4/3 pi r^3
import math


def volume(r):
  """ Returns the volume of a sphere with radius r.""" # doc string for ducumentation
  v = (4.0 / 3.0) * math.pi * r**3
  return v

volume(2)
volume() # Error

33.510321638291124

In [26]:
# A = 1/2 b.h

def triangle_area(b, h):
  """ Returns the area of a triangle with base b and height h."""
  return 0.5 * b * h

triangle_area(3, 6)

9.0

In [28]:
# Keyword Argument

def cm(feet = 0, inches = 0): # keyword arguments , defualt arguments
  """Converts a length from feet and inches to centimeters. """
  inches_to_cm = inches * 2.54
  feet_to_cm = feet * 12 * 2.54
  return inches_to_cm + feet_to_cm

cm(feet = 5)
cm(inches = 70)
cm(feet = 5, inches = 8)
cm(inches = 8 , feet = 5)

172.72

In [29]:
def g(x=0, y):
  return x + y

SyntaxError: non-default argument follows default argument (<ipython-input-29-b1c4461a698f>, line 1)

In [31]:
def g(y, x=0): # default argument first: no error
  return x + y

g(5)
g(7, x = 3)

5