<a href="https://colab.research.google.com/github/namozhdehi/DataScience/blob/main/Unit%2018%20Cleaning%20Data%20in%20Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Unit 18**
# **Cleaning Data in Python**

**Data type constraints**

In [2]:
import pandas as pd
df_dict = {'duration': {0: '12 minutes',
  1: '24 minutes',
  2: '8 minutes',
  3: '4 minutes',
  4: '11 minutes'},
 'station_A_id': {0: 81, 1: 3, 2: 67, 3: 16, 4: 22},
 'station_A_name': {0: 'Berry St at 4th St',
  1: 'Powell St BART Station (Market St at 4th St)',
  2: 'San Francisco Caltrain Station 2  (Townsend St at 4th St)',
  3: 'Steuart St at Market St',
  4: 'Howard St at Beale St'},
 'station_B_id': {0: 323, 1: 118, 2: 23, 3: 28, 4: 350},
 'station_B_name': {0: 'Broadway at Kearny',
  1: 'Eureka Valley Recreation Center',
  2: 'The Embarcadero at Steuart St',
  3: 'The Embarcadero at Bryant St',
  4: '8th St at Brannan St'},
 'bike_id': {0: 5480, 1: 5193, 2: 3652, 3: 1883, 4: 4626},
 'user_type': {0: 2, 1: 2, 2: 3, 3: 1, 4: 2},
 'user_birth_year': {0: 1959, 1: 1965, 2: 1993, 3: 1979, 4: 1994},
 'user_gender': {0: 'Male', 1: 'Male', 2: 'Male', 3: 'Male', 4: 'Male'}}

ride_sharing = pd.DataFrame(df_dict)

In [3]:
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   duration         5 non-null      object
 1   station_A_id     5 non-null      int64
 2   station_A_name   5 non-null      object
 3   station_B_id     5 non-null      int64
 4   station_B_name   5 non-null      object
 5   bike_id          5 non-null      int64
 6   user_type        5 non-null      int64
 7   user_birth_year  5 non-null      int64
 8   user_gender      5 non-null      object
dtypes: int64(5), object(4)
memory usage: 400.0+ bytes
None
count    5.000000
mean     2.000000
std      0.707107
min      1.000000
25%      2.000000
50%      2.000000
75%      2.000000
max      3.000000
Name: user_type, dtype: float64

In [4]:
# Print the information of ride_sharing
print(ride_sharing.info())

# Print summary statistics of user_type column
print(ride_sharing['user_type'].describe())

# Convert user_type from integer to category
ride_sharing['user_type_cat'] = ride_sharing['user_type'].astype('category')

# Write an assert statement confirming the change
assert ride_sharing['user_type_cat'].dtype == 'category'

# Print new summary statistics
print(ride_sharing['user_type_cat'].describe())

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 0 to 4
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   duration         5 non-null      object
 1   station_A_id     5 non-null      int64
 2   station_A_name   5 non-null      object
 3   station_B_id     5 non-null      int64
 4   station_B_name   5 non-null      object
 5   bike_id          5 non-null      int64
 6   user_type        5 non-null      int64
 7   user_birth_year  5 non-null      int64
 8   user_gender      5 non-null      object
dtypes: int64(5), object(4)
memory usage: 400.0+ bytes
None
count    5.000000
mean     2.000000
std      0.707107
min      1.000000
25%      2.000000
50%      2.000000
75%      2.000000
max      3.000000
Name: user_type, dtype: float64
count     5
unique    3
top       2
freq      3
Name: user_type_cat, dtype: int64

In [13]:
# Strip duration of minutes
ride_sharing['duration_trim'] = ride_sharing['duration'].str.strip('minutes')

# Convert duration to integer
ride_sharing['duration_time'] = ride_sharing['duration_trim'].astype('int')

# Write an assert statement making sure of conversion
assert ride_sharing['duration_time'].dtype == 'int'

# Print formed columns and calculate average ride duration
print(ride_sharing[['duration','duration_trim','duration_time']])
print(ride_sharing['duration_time'].mean())

     duration duration_trim  duration_time
0  12 minutes           12              12
1  24 minutes           24              24
2   8 minutes            8               8
3   4 minutes            4               4
4  11 minutes           11              11
11.8

# **Data range constraints**

In [15]:
df_dict = {'duration': {0: '12 minutes',
  1: '24 minutes',
  2: '8 minutes',
  3: '4 minutes',
  4: '11 minutes'},
 'station_A_id': {0: 81, 1: 3, 2: 67, 3: 16, 4: 22},
 'station_A_name': {0: 'Berry St at 4th St',
  1: 'Powell St BART Station (Market St at 4th St)',
  2: 'San Francisco Caltrain Station 2  (Townsend St at 4th St)',
  3: 'Steuart St at Market St',
  4: 'Howard St at Beale St'},
 'station_B_id': {0: 323, 1: 118, 2: 23, 3: 28, 4: 350},
 'station_B_name': {0: 'Broadway at Kearny',
  1: 'Eureka Valley Recreation Center',
  2: 'The Embarcadero at Steuart St',
  3: 'The Embarcadero at Bryant St',
  4: '8th St at Brannan St'},
 'bike_id': {0: 5480, 1: 5193, 2: 3652, 3: 1883, 4: 4626},
 'user_type': {0: 'Subscriber',
  1: 'Subscriber',
  2: 'Subscriber',
  3: 'Subscriber',
  4: 'Subscriber'},
 'user_birth_year': {0: 1959, 1: 1965, 2: 1993, 3: 1979, 4: 1994},
 'user_gender': {0: 'Male', 1: 'Male', 2: 'Male', 3: 'Male', 4: 'Male'},
 'tire_sizes': {0: 27, 1: 26, 2: 26, 3: 27, 4: 27}}
ride_sharing = pd.DataFrame(df_dict)

In [17]:
# Convert tire_sizes to integer
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('int')

# Set all values above 27 to 27
ride_sharing.loc[ride_sharing['tire_sizes'] > 27, 'tire_sizes'] = 27

# Reconvert tire_sizes back to categorical
ride_sharing['tire_sizes'] = ride_sharing['tire_sizes'].astype('category')

# Print tire size description
print(ride_sharing['tire_sizes'].describe())

count      5
unique     2
top       27
freq       3
Name: tire_sizes, dtype: int64

In [22]:
import pandas as pd
import datetime
df_dict = {'duration': {0: '12 minutes',
  1: '24 minutes',
  2: '8 minutes',
  3: '4 minutes',
  4: '11 minutes'},
 'station_A_id': {0: 81, 1: 3, 2: 67, 3: 16, 4: 22},
 'station_A_name': {0: 'Berry St at 4th St',
  1: 'Powell St BART Station (Market St at 4th St)',
  2: 'San Francisco Caltrain Station 2  (Townsend St at 4th St)',
  3: 'Steuart St at Market St',
  4: 'Howard St at Beale St'},
 'station_B_id': {0: 323, 1: 118, 2: 23, 3: 28, 4: 350},
 'station_B_name': {0: 'Broadway at Kearny',
  1: 'Eureka Valley Recreation Center',
  2: 'The Embarcadero at Steuart St',
  3: 'The Embarcadero at Bryant St',
  4: '8th St at Brannan St'},
 'bike_id': {0: 5480, 1: 5193, 2: 3652, 3: 1883, 4: 4626},
 'user_type': {0: 'Subscriber',
  1: 'Subscriber',
  2: 'Subscriber',
  3: 'Subscriber',
  4: 'Subscriber'},
 'user_birth_year': {0: 1959, 1: 1965, 2: 1993, 3: 1979, 4: 1994},
 'user_gender': {0: 'Male', 1: 'Male', 2: 'Male', 3: 'Male', 4: 'Male'},
 'tire_sizes': {0: 27.0, 1: 26.0, 2: 26.0, 3: 29.0, 4: 27.0},
 'ride_date': {0: '2020-01-19',
  1: '2018-10-24',
  2: '2017-12-25',
  3: datetime.date(2025, 5, 15),
  4: '2019-01-29'},
 'ride_dt': {0: datetime.date(2020, 1, 19),
  1: datetime.date(2018, 10, 24),
  2: datetime.date(2017, 12, 25),
  3: datetime.date(2024, 5, 15),
  4: datetime.date(2019, 1, 29)}}
ride_sharing = pd.DataFrame(df_dict)

In [24]:
import datetime as dt
# Convert ride_date to date
ride_sharing['ride_dt'] = pd.to_datetime(ride_sharing['ride_date']).dt.date

# Save today's date
today = dt.date.today()

# Set all in the future to today's date
ride_sharing.loc[ride_sharing['ride_dt'] > today, 'ride_dt'] = today

# Print maximum of ride_dt column
print(ride_sharing['ride_dt'].max())

2024-05-15

# **Uniqueness Constraints**

In [31]:
df_dict = {'ride_id': {0: 0, 1: 1, 2: 2, 3: 3, 4: 4},
 'duration': {0: 11, 1: 8, 2: 11, 3: 7, 4: 11},
 'station_A_id': {0: 16, 1: 3, 2: 15, 3: 21, 4: 81},
 'station_A_name': {0: 'Steuart St at Market St',
  1: 'Powell St BART Station (Market St at 4th St)',
  2: 'San Francisco Ferry Building (Harry Bridges Plaza)',
  3: 'Montgomery St BART Station (Market St at 2nd St)',
  4: 'Berry St at 4th St'},
 'station_B_id': {0: 93, 1: 93, 2: 67, 3: 50, 4: 21},
 'station_B_name': {0: '4th St at Mission Bay Blvd S',
  1: '4th St at Mission Bay Blvd S',
  2: 'San Francisco Caltrain Station 2  (Townsend St at 4th St)',
  3: '2nd St at Townsend St',
  4: 'Montgomery St BART Station (Market St at 2nd St)'},
 'bike_id': {0: 5504, 1: 2915, 2: 5340, 3: 746, 4: 5477},
 'user_type': {0: 'Subscriber',
  1: 'Subscriber',
  2: 'Customer',
  3: 'Subscriber',
  4: 'Subscriber'},
 'user_birth_year': {0: 1988, 1: 1988, 2: 1988, 3: 1969, 4: 1986},
 'user_gender': {0: 'Male', 1: 'Male', 2: 'Male', 3: 'Male', 4: 'Male'},
 'tire_sizes': {0: 27, 1: 27, 2: 26, 3: 27, 4: 26},
 'ride_date': {0: '2018-03-04',
  1: '2017-03-27',
  2: '2019-06-30',
  3: '2018-11-16',
  4: '2017-11-01'}}
ride_sharing = pd.DataFrame(df_dict)

In [27]:
# Find duplicates
duplicates = ride_sharing.duplicated(subset= ['ride_id'], keep = False)

# Sort your duplicated rides
duplicated_rides = ride_sharing[duplicates].sort_values('ride_id')

# Print relevant columns of duplicated_rides
print(duplicated_rides[['ride_id','duration','user_birth_year']])

Empty DataFrame
Columns: [ride_id, user_birth_year, user_birth_year]
Index: []

In [35]:
# Drop complete duplicates from ride_sharing
ride_dup = ride_sharing.drop_duplicates()

# Create statistics dictionary for aggregation function
statistics = {'user_birth_year': 'min', 'duration': 'mean'}

# Group by ride_id and compute new statistics
ride_unique = ride_dup.groupby('ride_id').agg(statistics).reset_index()

# Find duplicated values again
duplicates = ride_unique.duplicated(subset = 'ride_id', keep = False)
duplicated_rides = ride_unique[duplicates == True]

# Assert duplicates are processed
assert duplicated_rides.shape[0] == 0

# Membership constraints

In [36]:
df_dict = {'cleanliness': {0: 'Clean',
  1: 'Average',
  2: 'Somewhat clean',
  3: 'Somewhat dirty',
  4: 'Dirty'},
 'safety': {0: 'Neutral',
  1: 'Very safe',
  2: 'Somewhat safe',
  3: 'Very unsafe',
  4: 'Somewhat unsafe'},
 'satisfaction': {0: 'Very satisfied',
  1: 'Neutral',
  2: 'Somewhat satisfied',
  3: 'Somewhat unsatisfied',
  4: 'Very unsatisfied'}}

categories = pd.DataFrame(df_dict)

In [39]:
# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', categories['cleanliness'].unique(), "\n")
print('Safety: ', categories['safety'].unique(), "\n")
print('Satisfaction: ', categories['satisfaction'].unique(), "\n")

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied
Cleanliness:  ['Clean' 'Average' 'Somewhat clean' 'Somewhat dirty' 'Dirty']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe' 'Very unsafe' 'Somewhat unsafe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satisfied' 'Somewhat unsatisfied'
 'Very unsatisfied']

In [40]:
df_dict = {'id': {0: 1351, 1: 373, 2: 2820, 3: 1157, 4: 2992},
 'day': {0: 'Tuesday',
  1: 'Friday',
  2: 'Thursday',
  3: 'Tuesday',
  4: 'Wednesday'},
 'airline': {0: 'UNITED INTL',
  1: 'ALASKA',
  2: 'DELTA',
  3: 'SOUTHWEST',
  4: 'AMERICAN'},
 'destination': {0: 'KANSAI',
  1: 'SAN JOSE DEL CABO',
  2: 'LOS ANGELES',
  3: 'LOS ANGELES',
  4: 'MIAMI'},
 'dest_region': {0: 'Asia',
  1: 'Canada/Mexico',
  2: 'West US',
  3: 'West US',
  4: 'East US'},
 'dest_size': {0: 'Hub', 1: 'Small', 2: 'Hub', 3: 'Hub', 4: 'Hub'},
 'boarding_area': {0: 'Gates 91-102',
  1: 'Gates 50-59',
  2: 'Gates 40-48',
  3: 'Gates 20-39',
  4: 'Gates 50-59'},
 'dept_time': {0: '2018-12-31',
  1: '2018-12-31',
  2: '2018-12-31',
  3: '2018-12-31',
  4: '2018-12-31'},
 'wait_min': {0: 115.0, 1: 135.0, 2: 70.0000000000001, 3: 190.0, 4: 559.0},
 'cleanliness': {0: 'Clean',
  1: 'Clean',
  2: 'Average',
  3: 'Clean',
  4: 'Unacceptable'},
 'safety': {0: 'Neutral',
  1: 'Very safe',
  2: 'Somewhat safe',
  3: 'Very safe',
  4: 'Very safe'},
 'satisfaction': {0: 'Very satisfied',
  1: 'Very satisfied',
  2: 'Neutral',
  3: 'Somewhat satisfied',
  4: 'Somewhat satisfied'}}

airlines = pd.DataFrame(df_dict)

In [41]:
# Print categories DataFrame
print(categories)

# Print unique values of survey columns in airlines
print('Cleanliness: ', airlines['cleanliness'].unique(), "\n")
print('Safety: ', airlines['safety'].unique(), "\n")
print('Satisfaction: ', airlines['satisfaction'].unique(), "\n")

      cleanliness           safety          satisfaction
0           Clean          Neutral        Very satisfied
1         Average        Very safe               Neutral
2  Somewhat clean    Somewhat safe    Somewhat satisfied
3  Somewhat dirty      Very unsafe  Somewhat unsatisfied
4           Dirty  Somewhat unsafe      Very unsatisfied
Cleanliness:  ['Clean' 'Average' 'Unacceptable']

Safety:  ['Neutral' 'Very safe' 'Somewhat safe']

Satisfaction:  ['Very satisfied' 'Neutral' 'Somewhat satisfied']

In [43]:
# Find the cleanliness category in airlines not in categories
cat_clean = set(airlines['cleanliness']).difference(categories['cleanliness'])

# Find rows with that category
cat_clean_rows = airlines['cleanliness'].isin(cat_clean)

# Print rows with inconsistent category
print(airlines[cat_clean_rows])

# Print rows with consistent categories only
print(airlines[~cat_clean_rows])

     id        day   airline destination dest_region dest_size boarding_area  \
4  2992  Wednesday  AMERICAN       MIAMI     East US       Hub   Gates 50-59

    dept_time  wait_min   cleanliness     safety        satisfaction
4  2018-12-31     559.0  Unacceptable  Very safe  Somewhat satisfied
     id       day      airline        destination    dest_region dest_size  \
0  1351   Tuesday  UNITED INTL             KANSAI           Asia       Hub
1   373    Friday       ALASKA  SAN JOSE DEL CABO  Canada/Mexico     Small
2  2820  Thursday        DELTA        LOS ANGELES        West US       Hub
3  1157   Tuesday    SOUTHWEST        LOS ANGELES        West US       Hub

  boarding_area   dept_time  wait_min cleanliness         safety  \
0  Gates 91-102  2018-12-31     115.0       Clean        Neutral
1   Gates 50-59  2018-12-31     135.0       Clean      Very safe
2   Gates 40-48  2018-12-31      70.0     Average  Somewhat safe
3   Gates 20-39  2018-12-31     190.0       Clean      Very safe

         satisfaction
0      Very satisfied
1      Very satisfied
2             Neutral
3  Somewhat satisfied

# **Categorical variables**

In [44]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

['Asia' 'Canada/Mexico' 'West US' 'East US']
['Hub' 'Small']

In [45]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower()
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

['Asia' 'Canada/Mexico' 'West US' 'East US']
['Hub' 'Small']

In [ ]:
# Print unique values of both columns
print(airlines['dest_region'].unique())
print(airlines['dest_size'].unique())

# Lower dest_region column and then replace "eur" with "europe"
airlines['dest_region'] = airlines['dest_region'].str.lower()
airlines['dest_region'] = airlines['dest_region'].replace({'eur':'europe'})

# Remove white spaces from `dest_size`
airlines['dest_size'] = airlines['dest_size'].str.strip()

# Verify changes have been effected
print(airlines['dest_region'])
print(airlines['dest_size'])

In [49]:
# Create ranges for categories
label_ranges = [0, 60, 180, np.inf]
label_names = ['short', 'medium', 'long']

# Create wait_type column
airlines['wait_type'] = pd.cut(airlines['wait_min'], bins = label_ranges,
                                labels = label_names)

# Create mappings and replace
mappings = {'Monday':'weekday', 'Tuesday':'weekday', 'Wednesday': 'weekday',
            'Thursday': 'weekday', 'Friday': 'weekday',
            'Saturday': 'weekend', 'Sunday': 'weekend'}

airlines['day_week'] = airlines['day'].replace(mappings)

In [51]:
df_dict = {'id': {0: 1351, 1: 373, 2: 2820, 3: 1157, 4: 2992},
 'full_name': {0: 'Melodie Stuart',
  1: 'Dominic Shannon',
  2: 'Quintessa Tillman',
  3: 'Dr. Christine Nicholson',
  4: 'Regina Clements'},
 'day': {0: 'Tuesday',
  1: 'Friday',
  2: 'Thursday',
  3: 'Tuesday',
  4: 'Wednesday'},
 'airline': {0: 'UNITED INTL',
  1: 'ALASKA',
  2: 'DELTA',
  3: 'SOUTHWEST',
  4: 'AMERICAN'},
 'destination': {0: 'KANSAI',
  1: 'SAN JOSE DEL CABO',
  2: 'LOS ANGELES',
  3: 'LOS ANGELES',
  4: 'MIAMI'},
 'dest_region': {0: 'Asia',
  1: 'Canada/Mexico',
  2: 'West US',
  3: 'West US',
  4: 'East US'},
 'dest_size': {0: 'Hub', 1: 'Small', 2: 'Hub', 3: 'Hub', 4: 'Hub'},
 'boarding_area': {0: 'Gates 91-102',
  1: 'Gates 50-59',
  2: 'Gates 40-48',
  3: 'Gates 20-39',
  4: 'Gates 50-59'},
 'dept_time': {0: '2018-12-31',
  1: '2018-12-31',
  2: '2018-12-31',
  3: '2018-12-31',
  4: '2018-12-31'},
 'wait_min': {0: 115.0, 1: 135.0, 2: 70.0000000000001, 3: 190.0, 4: 559.0},
 'cleanliness': {0: 'Clean',
  1: 'Clean',
  2: 'Average',
  3: 'Clean',
  4: 'Somewhat clean'},
 'safety': {0: 'Neutral',
  1: 'Very safe',
  2: 'Somewhat safe',
  3: 'Very safe',
  4: 'Very safe'},
 'satisfaction': {0: 'Very satisfied',
  1: 'Very satisfied',
  2: 'Neutral',
  3: 'Somewhat satsified',
  4: 'Somewhat satsified'}}
airlines = pd.DataFrame(df_dict)

In [53]:
# Replace "Dr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Dr.","")

# Replace "Mr." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Mr.","")

# Replace "Miss" with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Miss", "")

# Replace "Ms." with empty string ""
airlines['full_name'] = airlines['full_name'].str.replace("Ms.", "")

# Assert that full_name has no honorifics
assert airlines['full_name'].str.contains('Ms.|Mr.|Miss|Dr.').any() == False

In [56]:
df_dict = {'id': {0: 1351, 1: 373, 2: 2820, 3: 1157, 4: 2992},
 'day': {0: 'Tuesday',
  1: 'Friday',
  2: 'Thursday',
  3: 'Tuesday',
  4: 'Wednesday'},
 'airline': {0: 'UNITED INTL',
  1: 'ALASKA',
  2: 'DELTA',
  3: 'SOUTHWEST',
  4: 'AMERICAN'},
 'destination': {0: 'KANSAI',
  1: 'SAN JOSE DEL CABO',
  2: 'LOS ANGELES',
  3: 'LOS ANGELES',
  4: 'MIAMI'},
 'dest_region': {0: 'Asia',
  1: 'Canada/Mexico',
  2: 'West US',
  3: 'West US',
  4: 'East US'},
 'dest_size': {0: 'Hub', 1: 'Small', 2: 'Hub', 3: 'Hub', 4: 'Hub'},
 'boarding_area': {0: 'Gates 91-102',
  1: 'Gates 50-59',
  2: 'Gates 40-48',
  3: 'Gates 20-39',
  4: 'Gates 50-59'},
 'dept_time': {0: '2018-12-31',
  1: '2018-12-31',
  2: '2018-12-31',
  3: '2018-12-31',
  4: '2018-12-31'},
 'wait_min': {0: 115.0, 1: 135.0, 2: 70.0000000000001, 3: 190.0, 4: 559.0},
 'cleanliness': {0: 'Dirty', 1: 'Dirty', 2: 'Dirty', 3: 'Dirty', 4: 'Dirty'},
 'safety': {0: 'Very unsafe',
  1: 'Very unsafe',
  2: 'Very unsafe',
  3: 'Very unsafe',
  4: 'Very unsafe'},
 'satisfaction': {0: 'Very unsatisfied',
  1: 'Very unsatisfied',
  2: 'Very unsatisfied',
  3: 'Very unsatisfied',
  4: 'Very unsatisfied'},
 'survey_response': {0: 'It was terrible',
  1: "I didn't like the flight",
  2: 'I hate this ',
  3: 'Not a fan',
  4: 'Bad'}}
airlines = pd.DataFrame(df_dict)

In [60]:
# Store length of each row in survey_response column
resp_length = airlines['survey_response'].str.len()

# Find rows in airlines where resp_length > 40
airlines_survey = airlines[resp_length > 40]

# Print the minimum length of survey_response to debug
print("Minimum length of survey_response in airlines_survey:", airlines_survey['survey_response'].str.len().min())

# Assert minimum survey_response length is > 40
assert airlines_survey['survey_response'].str.len().min() > 40

# Print new survey_response column
print(airlines_survey['survey_response'])

Minimum length of survey_response in airlines_survey: nan

AssertionError:

# **Uniformity**

In [62]:
df_dict = {'cust_id': {0: '8C35540A',
  1: 'D5536652',
  2: 'A631984D',
  3: '93F2F951',
  4: 'DE0A0882'},
 'acct_amount': {0: 44244.71,
  1: 86506.85,
  2: 77799.33,
  3: 93875.24,
  4: 99998.35},
 'acct_cur': {0: 'dollar', 1: 'dollar', 2: 'dollar', 3: 'euro', 4: 'euro'},
 'inv_amount': {0: 35500.5,
  1: 81921.86,
  2: 46412.27,
  3: 76563.35,
  4: 18669.01},
 'account_opened': {0: '03-05-18',
  1: '21-01-18',
  2: '26-01-18',
  3: '21-08-17',
  4: '05-06-17'},
 'last_transaction': {0: '30-09-19',
  1: '14-01-19',
  2: '06-10-19',
  3: '10-07-19',
  4: '15-01-19'}}
banking = pd.DataFrame(df_dict)

In [64]:
# Find values of acct_cur that are equal to 'euro'
acct_eu = banking['acct_cur'] == 'euro'

# Convert acct_amount where it is in euro to dollars
banking.loc[acct_eu, 'acct_amount'] = banking.loc[acct_eu, 'acct_amount'] * 1.1

# Unify acct_cur column by changing 'euro' values to 'dollar'
banking.loc[acct_eu, 'acct_cur'] = 'dollar'

# Assert that only dollar currency remains
assert banking['acct_cur'].unique() == 'dollar'

In [67]:
# Print the header of account_opend
print(banking['account_opened'].head())

# Convert account_opened to datetime
banking['account_opened'] = pd.to_datetime(banking['account_opened'],
                                           # Infer datetime format
                                           infer_datetime_format = True,
                                           # Return missing value for error
                                           errors = 'coerce')

# Get year of account opened
banking['acct_year'] = banking['account_opened'].dt.strftime('%Y')

# Print acct_year
print(banking['acct_year'])

0   2018-03-05
1   2018-01-21
2   2018-01-26
3   2017-08-21
4   2017-05-06
Name: account_opened, dtype: datetime64[ns]
0    2018
1    2018
2    2018
3    2017
4    2017
Name: acct_year, dtype: object

<ipython-input-67-ad1c82ffa5c5>:5: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  banking['account_opened'] = pd.to_datetime(banking['account_opened'],

# **Cross field validation**

In [6]:
import pandas as pd
import datetime as dt
from pandas import Timestamp

df_dict = {'cust_id': {0: '870A9281',
  1: '166B05B0',
  2: 'BFC13E88',
  3: 'F2158F66',
  4: '7A73F334'},
 'birth_date': {0: Timestamp('1962-06-09 00:00:00'),
  1: Timestamp('1962-12-16 00:00:00'),
  2: Timestamp('1990-09-12 00:00:00'),
  3: Timestamp('1985-11-03 00:00:00'),
  4: Timestamp('1990-05-17 00:00:00')},
 'age': {0: 62, 1: 62, 2: 34, 3: 39, 4: 40},
 'acct_amount': {0: 63523.31,
  1: 38175.46,
  2: 59863.77,
  3: 84132.1,
  4: 120512.0},
 'inv_amount': {0: 51295, 1: 15050, 2: 24567, 3: 23712, 4: 93230},
 'fund_A': {0: 30105.0, 1: 4995.0, 2: 10323.0, 3: 3908.0, 4: 12158.4},
 'fund_B': {0: 4138.0, 1: 938.0, 2: 4590.0, 3: 492.0, 4: 51281.0},
 'fund_C': {0: 1420.0, 1: 6696.0, 2: 8469.0, 3: 6482.0, 4: 13434.0},
 'fund_D': {0: 15632.0, 1: 2421.0, 2: 1185.0, 3: 12830.0, 4: 18383.0},
 'account_opened': {0: '02-09-18',
  1: '28-02-19',
  2: '25-04-18',
  3: '07-11-17',
  4: '14-05-18'},
 'last_transaction': {0: '22-02-19',
  1: '31-10-18',
  2: '02-04-18',
  3: '08-11-18',
  4: '19-07-18'}}
banking = pd.DataFrame(df_dict)

In [4]:
# Store fund columns to sum against
fund_columns = ['fund_A', 'fund_B', 'fund_C', 'fund_D']

# Find rows where fund_columns row sum == inv_amount
inv_equ = banking[fund_columns].sum(axis=1) == banking['inv_amount']

# Store consistent and inconsistent data
consistent_inv = banking[inv_equ]
inconsistent_inv = banking[~inv_equ]

# Store consistent and inconsistent data
print("Number of inconsistent investments: ", inconsistent_inv.shape[0])

Number of inconsistent investments:  1

In [9]:
import pandas as pd
import datetime as dt
from pandas import Timestamp

df_dict = {'cust_id': {0: '870A9281',
  1: '166B05B0',
  2: 'BFC13E88',
  3: 'F2158F66',
  4: '7A73F334'},
 'birth_date': {0: Timestamp('1962-06-09 00:00:00'),
  1: Timestamp('1962-12-16 00:00:00'),
  2: Timestamp('1990-09-12 00:00:00'),
  3: Timestamp('1985-11-03 00:00:00'),
  4: Timestamp('1990-05-17 00:00:00')},
 'age': {0: 62, 1: 62, 2: 34, 3: 39, 4: 40},
 'acct_amount': {0: 63523.31,
  1: 38175.46,
  2: 59863.77,
  3: 84132.1,
  4: 120512.0},
 'inv_amount': {0: 51295, 1: 15050, 2: 24567, 3: 23712, 4: 93230},
 'fund_A': {0: 30105.0, 1: 4995.0, 2: 10323.0, 3: 3908.0, 4: 12158.4},
 'fund_B': {0: 4138.0, 1: 938.0, 2: 4590.0, 3: 492.0, 4: 51281.0},
 'fund_C': {0: 1420.0, 1: 6696.0, 2: 8469.0, 3: 6482.0, 4: 13434.0},
 'fund_D': {0: 15632.0, 1: 2421.0, 2: 1185.0, 3: 12830.0, 4: 18383.0},
 'account_opened': {0: '02-09-18',
  1: '28-02-19',
  2: '25-04-18',
  3: '07-11-17',
  4: '14-05-18'},
 'last_transaction': {0: '22-02-19',
  1: '31-10-18',
  2: '02-04-18',
  3: '08-11-18',
  4: '19-07-18'}}
banking = pd.DataFrame(df_dict)

In [16]:
# Store today's date and find ages
today = dt.date.today()
ages_manual = today.year - banking['birth_date'].dt.year

# Find rows where age column == ages_manual
age_equ = banking['age'] == ages_manual

# Store consistent and inconsistent data
consistent_ages = banking[age_equ]
inconsistent_ages = banking[~age_equ]

# Store consistent and inconsistent data
print("Number of inconsistent ages: ", inconsistent_ages.shape[0])

Number of inconsistent ages:  1

# **Completeness**

In [ ]:
import missingno as msno
import matplotlib.pyplot as plt

# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
msno.matrix(banking)
plt.show()

In [ ]:
# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
msno.matrix(banking)
plt.show()

# Isolate missing and non missing values of inv_amount
missing_investors = banking[banking['inv_amount'].isna()]
investors = banking[~banking['inv_amount'].isna()]

In [ ]:
# Print number of missing values in banking
print(banking.isna().sum())

# Visualize missingness matrix
msno.matrix(banking)
plt.show()

# Isolate missing and non missing values of inv_amount
missing_investors = banking[banking['inv_amount'].isna()]
investors = banking[~banking['inv_amount'].isna()]

# Sort banking by age and visualize
banking_sorted = banking.sort_values(by = 'age')
msno.matrix(banking_sorted)
plt.show()

In [21]:
# Drop missing values of cust_id
banking_fullid = banking.dropna(subset = ['cust_id'])

# Compute estimated acct_amount
acct_imp = banking_fullid['inv_amount'] * 5

# Impute missing acct_amount with corresponding acct_imp
banking_imputed = banking_fullid.fillna({'acct_amount':acct_imp})

# Print number of missing values
print(banking_imputed.isna().sum())

cust_id             0
birth_date          0
age                 0
acct_amount         0
inv_amount          0
fund_A              0
fund_B              0
fund_C              0
fund_D              0
account_opened      0
last_transaction    0
dtype: int64

# **Comparing strings**

In [23]:
pip install thefuzz

Collecting thefuzz
  Downloading thefuzz-0.22.1-py3-none-any.whl (8.2 kB)
Collecting rapidfuzz<4.0.0,>=3.0.0 (from thefuzz)
  Downloading rapidfuzz-3.9.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 9.9 MB/s eta 0:00:00
Installing collected packages: rapidfuzz, thefuzz
Successfully installed rapidfuzz-3.9.0 thefuzz-0.22.1

In [25]:
df_dict = {'rest_name': {0: 'arnie morton  s of chicago',
  1: 'art  s delicatessen',
  2: 'campanile',
  3: 'fenix',
  4: 'grill on the alley'},
 'rest_addr': {0: ' 435 s. la cienega blv . ',
  1: ' 12224 ventura blvd. ',
  2: ' 624 s. la brea ave. ',
  3: ' 8358 sunset blvd. west ',
  4: ' 9560 dayton way '},
 'city': {0: 'los angeles',
  1: 'studio city',
  2: 'los angeles',
  3: 'hollywood',
  4: 'los angeles'},
 'phone': {0: 3102461501,
  1: 8187621221,
  2: 2139381447,
  3: 2138486677,
  4: 3102760615},
 'cuisine_type': {0: 'america',
  1: 'merican',
  2: 'amurican',
  3: 'americen',
  4: 'americann'}}
restaurants = pd.DataFrame(df_dict)

In [27]:
# Import process from thefuzz
from thefuzz import fuzz
from thefuzz import process

# Store the unique values of cuisine_type in unique_types
unique_types = restaurants['cuisine_type'].unique()

# Calculate similarity of 'asian' to all values of unique_types
print(process.extract('asian', unique_types, limit = len(unique_types)))

# Calculate similarity of 'american' to all values of unique_types
print(process.extract('american', unique_types, limit = len(unique_types)))

# Calculate similarity of 'italian' to all values of unique_types
print(process.extract('italian', unique_types, limit = len(unique_types)))

[('amurican', 62), ('americann', 57), ('america', 50), ('merican', 50), ('americen', 46)]
[('americann', 94), ('america', 93), ('merican', 93), ('amurican', 88), ('americen', 88)]
[('amurican', 53), ('americann', 50), ('america', 43), ('merican', 43), ('americen', 40)]

In [31]:
# Inspect the unique values of the cuisine_type column
print(restaurants['cuisine_type'].unique())

['america' 'merican' 'amurican' 'americen' 'americann']

In [34]:
# Create a list of matches, comparing 'italian' with the cuisine_type column
matches = process.extract('italian', restaurants['cuisine_type'], limit=len(restaurants['cuisine_type']))

# Inspect the first 5 matches
print(matches[0:5])

[('amurican', 53, 2), ('americann', 50, 4), ('america', 43, 0), ('merican', 43, 1), ('americen', 40, 3)]

In [38]:
# Create a list of matches, comparing 'italian' with the cuisine_type column
matches = process.extract('italian', restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))

# Iterate through the list of matches to italian
for match in matches:
  # Check whether the similarity score is greater than or equal to 80
  if match[1] >= 80:
    # Select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
    restaurants.loc[restaurants['cuisine_type'] == match[0]] = 'italian'

In [40]:
# Iterate through categories
for cuisine in categories:
  # Create a list of matches, comparing cuisine with the cuisine_type column
  matches = process.extract(cuisine, restaurants['cuisine_type'], limit=len(restaurants.cuisine_type))

  # Iterate through the list of matches
  for match in matches:
     # Check whether the similarity score is greater than or equal to 80
    if match[1] >= 80:
      # If it is, select all rows where the cuisine_type is spelled this way, and set them to the correct cuisine
      restaurants.loc[restaurants['cuisine_type'] == match[0]] = cuisine

# Inspect the final result
print(restaurants['cuisine_type'].unique())

NameError: name 'categories' is not defined

# **Generating pairs**

In [45]:
pip install recordlinkage

Requirement already satisfied: recordlinkage in /usr/local/lib/python3.10/dist-packages (0.16)
Requirement already satisfied: jellyfish>=1 in /usr/local/lib/python3.10/dist-packages (from recordlinkage) (1.0.3)
Requirement already satisfied: numpy>=1.13 in /usr/local/lib/python3.10/dist-packages (from recordlinkage) (1.25.2)
Requirement already satisfied: pandas<3,>=1 in /usr/local/lib/python3.10/dist-packages (from recordlinkage) (2.0.3)
Requirement already satisfied: scipy>=1 in /usr/local/lib/python3.10/dist-packages (from recordlinkage) (1.11.4)
Requirement already satisfied: scikit-learn>=1 in /usr/local/lib/python3.10/dist-packages (from recordlinkage) (1.2.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from recordlinkage) (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=1->recordlinkage) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=1->recordlinkage) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas<3,>=1->recordlinkage) (2024.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from scikit-learn>=1->recordlinkage) (3.5.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas<3,>=1->recordlinkage) (1.16.0)

In [47]:
df_dict = {'rest_name': {0: 'kokomo', 1: 'feenix', 2: 'parkway', 3: 'r-23', 4: 'gumbo'},
 'rest_addr': {0: '6333 w. third st.',
  1: ' 8358 sunset blvd. west ',
  2: '510 s. arroyo pkwy .',
  3: '923 e. third st.',
  4: '6333 w. third st.'},
 'city': {0: 'la', 1: 'hollywood', 2: 'pasadena', 3: 'los angeles', 4: 'la'},
 'phone': {0: 2139330773,
  1: 2138486677,
  2: 8187951001,
  3: 2136877178,
  4: 2139330358},
 'cuisine_type': {0: 'american',
  1: 'american',
  2: 'californian',
  3: 'japanese',
  4: 'cajun/creole'}}
restaurants_new = pd.DataFrame(df_dict)

In [49]:
# Create an indexer and object and find possible pairs
indexer = recordlinkage.Index()

# Block pairing on cuisine_type
indexer.block('cuisine_type')

# Generate pairs
pairs = indexer.index(restaurants, restaurants_new)
pairs

MultiIndex([], )

In [52]:
# Create a comparison object
comp_cl = recordlinkage.Compare()

# Find exact matches on city, cuisine_types
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('cuisine_type', 'cuisine_type', label = 'cuisine_type')

# Find similar matches of rest_name
comp_cl.string('rest_name', 'rest_name', threshold=0.8, label='name')

In [53]:
# Create a comparison object
comp_cl = recordlinkage.Compare()

# Find exact matches on city, cuisine_types -
comp_cl.exact('city', 'city', label='city')
comp_cl.exact('cuisine_type', 'cuisine_type', label='cuisine_type')

# Find similar matches of rest_name
comp_cl.string('rest_name', 'rest_name', label='name', threshold = 0.8)

# Get potential matches and print
potential_matches = comp_cl.compute(pairs, restaurants, restaurants_new)
print(potential_matches)

Empty DataFrame
Columns: [city, cuisine_type, name]
Index: []

In [57]:
import pandas as pd
import recordlinkage
# Isolate potential matches with row sum >=3
matches = potential_matches[potential_matches.sum(axis = 1) >= 3]

# Get values of second column index of matches
matching_indices = matches.index.get_level_values(1)

# Subset restaurants_new based on non-duplicate values
non_dup = restaurants_new[~restaurants_new.index.isin(matching_indices)]

# Append non_dup to restaurants
full_restaurants = restaurants.append(non_dup)
print(full_restaurants)

AttributeError: 'DataFrame' object has no attribute 'concat'